@namespace Moka.Red.Primitives.Tree
@inherits MokaComponentBase

<div class="@CssClass" style="@CssStyle" id="@Id" role="tree" @attributes="AdditionalAttributes">
	<CascadingValue Value="Selectable" Name="TreeSelectable">
		<CascadingValue Value="0" Name="TreeDepth">
			@ChildContent
		</CascadingValue>
	</CascadingValue>
</div>
