@namespace Moka.Red.Primitives.List
@inherits MokaComponentBase

<div class="@CssClass" style="@CssStyle" id="@Id" role="list" @attributes="AdditionalAttributes">
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
</div>
