@namespace Moka.Red.Primitives.SegmentedControl
@inherits MokaVisualComponentBase

<div class="@CssClass" style="@CssStyle" id="@Id" role="tablist" @attributes="AdditionalAttributes">
	<CascadingValue Value="this">
		@ChildContent
	</CascadingValue>
</div>
