@namespace Moka.Red.Layout.Toolbar
@inherits MokaComponentBase

<div class="@CssClass" style="@CssStyle" id="@Id" role="separator" aria-orientation="vertical" @attributes="AdditionalAttributes"></div>
